{% extends 'base.html'%}{% block content %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    #chartdiv {
      width: 100%;
      height: 500px;
      max-width: 100%
    }
    </style>
    
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
    <!-- Dropdown Product Select-->
    <br />
    <h5 style="color: blue;" align="left">CVE's Over Time Line Chart</h5></br>
    <h6 align="left">Choose Product</h6>
    <select id="product" onchange="chooseProduct()" class="form-control">
    <option value="">Select</option>
    <option value="">android</option>
    <option value="">superset</option>
    <option value="">windows</option>
    <option value="">flink</option>
    <option value="">spark</option>
    <option value="">maven</option>
    <option value="">pulsar</option>
    <option value="">airflow</option>
    <option value="">tensorflow</option>
    <option value="">hadoop</option>
    <option value="">tomcat</option>
    <option value="">kafka</option>

    </select>
    <input type="hidden" name="hidden_value" id="hidden_value" />
    <div style="clear:both"></div>
    <br />


    <!-- Chart code -->
    <script>
    
    function generateDatas(response) {
            var chartData = [];
            // Create the formatted array of chart data
            for (const cve_data of response.data) {
            console.log(cve_data);
            var tempdate = new Date(parseInt(cve_data[0]),0,1).getTime();
            chartData.push({
                date: tempdate,
                value: cve_data[1],
            });
            }
            console.log(chartData);
            return chartData;
        }

    var series
    var chart
    function showLineChart(response){
        am5.ready(function() {
        
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");
        
        
        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
        am5themes_Animated.new(root)
        ]);
        
        
        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        chart = root.container.children.push(am5xy.XYChart.new(root, {
        panX: true,
        panY: true,
        wheelX: "panX",
        wheelY: "zoomX",
        pinchZoomX:true
        }));
        
        
        // Add cursor
        // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
        behavior: "none"
        }));
        cursor.lineY.set("visible", false);
        
        
        // function generateDatas(count) {
        //     var chartData = [];
        //     // Create the formatted array of chart data
        //     console.log(response.data);
        //     for (const cve_data of response.data) {
        //     console.log(cve_data);
        //     var tempdate = new Date(parseInt(cve_data[0]),0,1).getTime();
        //     chartData.push({
        //         date: tempdate,
        //         value: cve_data[1],
        //     });
        //     }
        //     console.log(chartData);
        //     return chartData;
        // }

        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
        baseInterval: {
            timeUnit: "year",
            count: 1
        },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {})
        }));
        
        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {})

        }));
       
                
        // Add series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        series = chart.series.push(am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
        tooltip: am5.Tooltip.new(root, {
            labelText: "{valueY}"
        })
        }));

        // var data = generateDatas(50);
        // series.data.setAll(data);
        
        // Add scrollbar
        // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
        chart.set("scrollbarX", am5.Scrollbar.new(root, {
        orientation: "horizontal"
        }));
        
        
        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        // series.appear(1000);
        // chart.appear(1000, 100);
        
        }); // end am5.ready()

    }
    
    function chooseProduct(){
        var select = document.getElementById('product');
        var text = select.options[select.selectedIndex].text;
        console.log(text)
        axios.get(`http://localhost:5000/cves-over-time?product=${text}`).then(function (response) {
        
        var data = generateDatas(response);
        series.data.setAll(data);
        series.appear(1000);
        chart.appear(1000, 100);
        });
    };

    showLineChart()
    </script>
    
    <!-- HTML -->
    <div id="chartdiv"></div>

{% endblock %}